.content {
    margin: auto;
    width: 50%;
    border: 1px solid #ccc;
    padding: 10px;
}

.button {
    margin-bottom: 1px !important;
    min-width: 300px;
    border: 0px !important;
    text-align: left !important;
    background-color: #f9f9f9;
}